# Python
__pycache__/
*.py[cod]
*.class
*.so

# 打包产物
build/
dist/
dist_*/
*.spec.bak

# 备份目录
backup/
*备份*/
*snapshot_*/

# 日志和临时文件
*.log
*.txt
debug_*.png
*.jpg
*.jpeg
*.gif

# 大模型
*.onnx

# IDE
.idea/
.vscode/
*.swp
*.swo

# 系统
Thumbs.db
.DS_Store
